@font-face {
  font-family: "NIXGONM-Vb";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  background-image: linear-gradient(to bottom right, #e1bee7, #b2ebf2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "NIXGONM-Vb";
}

.test-wrapper .overlay {
  display: block;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.test-wrapper .loading {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
  height: 50px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear;
}

.test-wrapper .loadingText {
  z-index: 1001;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 300px;
  height: 50px;
  margin-left: -150px;
  color: white;
  font-size: 20px;
  text-align: center;
}

body {
  font-family: "NIXGONM-Vb";
  background-color: rgba(1, 1, 1, 0);
  box-sizing: border-box;
  color: #ffffff;
}

.file-upload {
  padding: 15% 3%;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1.5px #f6f7fa;
  background-color: rgba(255, 255, 255, 0.5);
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  width: 60%;
  margin: 0 auto;
  position: relative;
  object-fit: contain;
  border-radius: 10px;
  border: dashed 1.5px #35465d;
  background-color: rgba(255, 255, 255, 0.7);
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #35465d82;
  border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 500;
  text-transform: uppercase;
}

.file-upload-image {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 10px;
}

.try-again-btn {
  margin-top: 30px;
  border-radius: 40px;
  border: solid 1.5px #35465d;
  background-color: #35465d;
}

.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

.nav-distance {
  padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
  font-family: "NIXGONM-Vb";
  line-height: 1.68;
  text-align: left;
  color: #ffffff;
  text-shadow: 1px 1px 1px gray;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.section {
  margin-top: 50px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
  text-shadow: 1.5px 1.5px 1.5px #333;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
  text-shadow: 1.5px 1.5px 1.5px #333;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  .navbar-brand {
    font-size: 2rem;
  }
}

.upload {
  width: 20%;
}

.upload-text {
  width: 58%;
  font-family: "NIXGONM-Vb";
  font-size: 1.5rem;
  line-height: 1.53;
  text-align: center;
  color: #35465d;
  margin: 0 auto;
}

.upload-text {
  width: 58%;
  font-size: 1.5rem;
  line-height: 1.53;
  text-align: center;
  color: #35465d;
  margin: 0 auto;
}

.footer {
  background-color: initial;
  color: initial;
}

.bar-container {
  height: 2.7rem;
}
.cute-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(237, 199, 121, 0.3);
}
.cute-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(237, 199, 121, 1);
}
.sexy-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(215, 127, 110, 0.3);
}
.sexy-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(215, 127, 110, 1);
}

.innocent-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(115, 165, 152, 0.3);
}
.innocent-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(115, 165, 152, 1);
}

.fresh-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(169, 188, 139, 0.3);
}
.fresh-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(169, 188, 139, 1);
}
.chic-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.elegant-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(237, 223, 185, 0.3);
}
.elegant-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(237, 223, 185, 1);
}
.chic-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}
.tough-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.tough-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.reliable-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.reliable-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}
.strong-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(49, 132, 155, 0.2);
}
.strong-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}

.percent-text {
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
}
.keyword-label {
  width: 20%;
  text-align: left;
  text-shadow: 1.5px 1.5px 1.5px #555;
  height: 2rem;
}
#label-container {
  width: 80%;
  margin: 0 auto;
}

.result-message {
  font-size: 2rem;
}

.keyword-explain {
  font-size: 1.5rem;
  text-shadow: 1.5px 1.5px 1.5px #555;
}
.cute-keyword-title {
  color: #3ba363;
}
.cute-keyword-celeb {
  color: #3ba363;
  font-size: 1.2rem;
}
.sexy-keyword-title {
  color: #3ba363;
}
.sexy-keyword-celeb {
  color: #3ba363;
  font-size: 1.2rem;
}
.fresh-keyword-title {
  color: #ff6c0a;
}
.fresh-keyword-celeb {
  color: #ff6c0a;
  font-size: 1.2rem;
}
.innocent-keyword-title {
  color: #548dd4;
}
.innocent-keyword-celeb {
  color: #548dd4;
  font-size: 1.2rem;
}
.elegant-keyword-title {
  color: #548dd4;
}
.elegant-keyword-celeb {
  color: #548dd4;
  font-size: 1.2rem;
}
/* gender */
input#gender {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

/* gender */
input#gender {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 6px;
  position: absolute;
  top: 42%;
  content: "";
  height: 4px;
  background-color: #f470a7;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
}
